<%# Contact main fields %>

<div class="control-group">
  <%= f.label :contact_name, I18n.t('attributes.invoice.contact_name') %>
  <%= f.text_field :contact_name, placeholder: I18n.t('attributes.invoice.contact_name'), class: 'suggested contact_name' %>
  <% unless @contacts.size == 0 %>
  <div class="input-append">
    <%= select_tag :contact_id, options_from_collection_for_select(@contacts, :id, :name), class: 'contact_name-select' %>
    <%= f.submit t('links.prefill'), name: 'fill_in_contact', class: 'btn btn-small load-contact-button' %>
  </div>
  <% end %>
</div>
<div class="control-group">
  <%= f.label :contact_tax_id, I18n.t('attributes.invoice.contact_tax_id') %>
  <div class="input-append">
    <%= f.text_field :contact_tax_id, placeholder: I18n.t('attributes.invoice.contact_tax_id'), class: 'suggested contact_tax_id' %>
    <%= f.submit 'Načíst', name: 'ic', class: 'btn btn-medium load-ic-button' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :contact_tax_id2, I18n.t('attributes.invoice.contact_tax_id2') %>
  <%= f.text_field :contact_tax_id2, placeholder: I18n.t('attributes.invoice.contact_tax_id2'), class: 'optional contact_tax_id2' %>
</div>
