<%# Item fields %>

<div class="nested-fields item">
	<div class="item-input-box name">
		<div class="input-prepend">
		  <span class="add-on"><%= I18n.t('attributes.item.name') %></span>
      	<%= f.text_field :name %>
		</div>
	</div>
	<div class="item-input-box number">
		<div class="input-prepend">
		  <span class="add-on"><%= I18n.t('attributes.item.number') %></span>
			<%= f.text_field :number %>
		</div>
	</div>
	<div class="item-input-box unit">
		<div class="input-prepend">
		  <span class="add-on"><%= I18n.t('attributes.item.unit') %></span>
			<%= f.text_field :unit, placeholder: I18n.t('attributes.item.default_unit') %>
		</div>
	</div>
	<div class="item-input-box price">
		<div class="input-prepend">
		  <span class="add-on"><%= I18n.t('attributes.item.price') %></span>
			<%= f.text_field :price, value: formatted_money(f.object.price), placeholder: '0,00' %>
		</div>
	</div>
	<%= f.hidden_field :id %>
  <%= f.hidden_field :_destroy %> 
	<div class="item-input-box remove">
		<%= f.link_to_remove I18n.t('links.delete_item') %>
	</div>
	<div style="clear:both;">&nbsp;</div>
</div>