<%# Document payment fields %>

<div class="control-group">	
	<%= f.label :account_id, I18n.t('attributes.invoice.account_id')%>
	<%= f.collection_select :account_id, @accounts, :id, :name %>
</div>
<% if document.instance_of? InvoiceBar::Invoice or document.instance_of? InvoiceBar::InvoiceTemplate %>
	<div class="control-group">
	  <%= f.label :payment_identification_number, I18n.t('attributes.invoice.payment_identification_number') %>
	  <%= f.text_field :payment_identification_number, placeholder: I18n.t('attributes.invoice.payment_identification_number'), class: 'optional' %>
	</div>
<% end %>
<div class="control-group">
  <%= f.label :issue_date, I18n.t('attributes.invoice.issue_date') %>
  <%= f.text_field :issue_date, placeholder: I18n.t('attributes.invoice.issue_date'), class: 'datepicker' %>
</div>
<% if document.instance_of? InvoiceBar::Invoice or document.instance_of? InvoiceBar::InvoiceTemplate %>
	<div class="control-group">
	  <%= f.label :due_date, I18n.t('attributes.invoice.due_date') %>
	  <%= f.text_field :due_date, placeholder: I18n.t('attributes.invoice.due_date'), class: 'datepicker' %>
	</div>
<% end %>