<%= content_for :sub_navigation do %>
  <ul class="nav nav nav-pills">
    <li>
      <a href="<%= new_invoice_path %>" class="left highlight">
        <%= t('links.new_invoice') %>
      </a>
    </li>
    <li<% unless @section %> class="active"<% end %>>
      <%= link_to t('navigation.all'), filter_invoices_url(params.merge(page: 1)) %>
    </li>
    <li<% if @section == :issued %> class="active"<% end %>>
      <%= link_to t('navigation.issued'), issued_invoices_url(params.merge(page: 1)) %>
    </li>
    <li<% if @section == :received %> class="active"<% end %>>
      <%= link_to t('navigation.received'), received_invoices_url(params.merge(page: 1)) %>
    </li>
    <% if params[:deposit] == 'true' %>
      <li class="right selected">
        <%= link_to t('titles.deposits'), action_invoices_url(params.except(:deposit)) %>
      </li>
    <% else %>
      <li class="right">
        <%= link_to t('titles.deposits'), action_invoices_url(params.merge(deposit: true)) %>
      </li>
    <% end %>
    <li>
      <%= link_to t('titles.invoice_templates'), invoice_templates_path %>
    </li>
    <div style="clear:both"></div>
  </ul>

  <div class="status-filter">
    <span class="<% unless params[:status] == nil %>not-selected<% end %>">
      <%= link_to t('buttons.all'), action_invoices_url(params.merge(status: nil)), class: 'btn-small btn-inverse btn-no-link' %>
    </span>
    <span class="<% unless params[:status] == 'not_paid' %>not-selected<% end %>">
      <%= link_to t('buttons.not_paid'), action_invoices_url(params.merge(status: 'not_paid')), class: 'btn-small btn-danger btn-no-link' %>
    </span>
    <span class="<% unless params[:status] == 'paid' %>not-selected<% end %>">
      <%= link_to t('buttons.paid'), action_invoices_url(params.merge(status: 'paid')), class: 'btn-small btn-success btn-no-link' %>
    </span>
    <span class="<% unless params[:status] == 'not_sent' %>not-selected<% end %>">
      <%= link_to t('buttons.not_sent'), action_invoices_url(params.merge(status: 'not_sent')), class: 'btn-small btn-warning btn-no-link' %>
    </span>
    <span class="<% unless params[:status] == 'sent' %>not-selected<% end %>">
      <%= link_to t('buttons.sent'), action_invoices_url(params.merge(status: 'sent')), class: 'btn-small btn-info btn-no-link' %>
    </span>
  </div>

  <%= render partial: 'forms/filter', params: params %>

  <div style="clear:both"></div>
<% end %>



<table class="table table-striped table-bordered table-hover">
  <thead>
     <tr>
      <th class="number hidden-phone">
        <%= link_to "# #{t('attributes.invoice.number')}", action_invoices_url(params.merge(page: 1, sort: 'number')) %>
      </th>
      <th class="contact_name">
        <%= link_to t('attributes.invoice.contact_name'), action_invoices_url(params.merge(page: 1, sort: 'contact_name')) %>
      </th>
       <th class="issue_date hidden-phone">
        <%= link_to t('attributes.invoice.issue_date'), action_invoices_url(params.merge(page: 1, sort: 'issue_date')) %>
      </th>
      <th class="due_date hidden-phone">
        <%= link_to t('attributes.invoice.due_date'), action_invoices_url(params.merge(page: 1, sort: 'due_date')) %>
      </th>
      <th class="amount">
        <%= link_to t('attributes.invoice.amount'), action_invoices_url(params.merge(page: 1, sort: 'amount')) %>
      </th>
      <th>
        <%= t('attributes.invoice_bar.invoice.status') %>
      </th>
    </tr>
  </thead>
  <tbody>
    <% @invoices.each do |invoice| %>
      <tr>
        <td class="number hidden-phone">
          <span><%= link_to invoice_path(number: invoice.number) do %><%= invoice.number %><% end %></span>
        </td>
        <td class="contact_name">
          <span><%= invoice.contact_name %></span>
        </td>
        <td class="issue_date hidden-phone">
          <span><%= l(invoice.issue_date) %></span>
        </td>
        <td class="due_date hidden-phone">
          <span><%= l(invoice.due_date) %></span>
        </td>
        <td class="amount">
          <span><%= formatted_amount(invoice.amount, invoice.account.currency_symbol) %></span>
        </td>
        <td class="state">
          <% if invoice.paid %>
            <%= link_to t('buttons.paid'), invoice_path(number: invoice.number), class: 'btn-small btn-success btn-no-link' %>
          <% elsif invoice.due_date >= Date.today and invoice.issued? %>
            <% if invoice.sent? %>
              <%= link_to t('buttons.sent'), invoice_path(number: invoice.number), class: 'btn-small btn-info btn-no-link' %>
            <% else %>
              <%= link_to t('buttons.not_sent'), invoice_path(number: invoice.number), class: 'btn-small btn-warning btn-no-link' %>
            <% end %>
          <% else %>
            <%= link_to t('buttons.not_paid'), invoice_path(number: invoice.number), class: 'btn-small btn-danger btn-no-link' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if @invoices.size == 0 %>
  <div class="no-data">
    <%= t('invoice_bar.no_data') %>
  </div>
<% end %>

<%= paginate @invoices %>
