<%= form_for @contact do |f| %>
  <%= render 'invoice_bar/forms/errors', model: @contact %>
  <div class="row">
    <div class="span4 fixmax4">
      <div class="control-group">
        <%= f.label :name, t('attributes.contact.name') %>
        <%= f.text_field :name, :class => 'suggested', placeholder: t('attributes.contact.name') %>
      </div>
      <div class="control-group">
        <%= f.label :ic, t('attributes.contact.ic') %>
        <%= f.text_field :ic, :class => 'suggested', placeholder: t('attributes.contact.ic') %>
      </div>
      <div class="control-group ">
        <%= f.label :dic, t('attributes.contact.dic') %>
        <%= f.text_field :dic, :class => 'optional', placeholder: t('attributes.contact.dic') %>
      </div>
    </div>
    <div class="span4 fixmax4">
      <div class="control-group">
        <%= f.label :email, t('attributes.contact.email') %>
        <%= f.text_field :email, placeholder: t('attributes.contact.email') %>
      </div>
      <div class="control-group">
        <%= f.label :phone, t('attributes.contact.phone') %>
        <%= f.text_field :phone, placeholder: t('attributes.contact.phone') %>
      </div>
      <div class="control-group">
        <%= f.label :web, t('attributes.contact.web') %>
        <%= f.text_field :web, :class => 'optional', placeholder: t('attributes.contact.web') %>
      </div>
      <div class="control-group">
        <%= f.label :bank_account, t('attributes.contact.bank_account') %>
        <%= f.text_field :bank_account, :class => 'optional', placeholder: t('attributes.contact.bank_account') %>
      </div>
    </div>
    <div class="span4 fixmax4">
      <%= f.fields_for :address do |f|
         render 'invoice_bar/forms/address_fields', f: f
      end -%>
    </div>
  </div>
  <%= f.hidden_field :user_id %>
  <%= f.submit t('buttons.save'), class: 'btn btn-primary' %>
<% end %>
