<%= content_for :sub_navigation do %>
  <ul class="nav nav-pills" style="text-align:center;margin-bottom:1px;border:0;border-bottom:1px solid #F4F0FC;">
    <li>
      <a href="<%= new_receipt_path %>" style="background:#D2FAC3;color:black;margin-right:90px;">
        <%= t('links.new_receipt') %>
      </a>
    </li>
    <li<% unless @section %> class="active"<% end %>>
      <%= link_to t('navigation.all'), filter_receipts_url(params.merge(page: 1)) %>
    </li>
    <li<% if @section == :expence %> class="active"<% end %>>
      <%= link_to t('navigation.expence'), expence_receipts_url(params.merge(page: 1)) %>
    </li>
    <li<% if @section == :income %> class="active"<% end %>>
      <%= link_to t('navigation.income'), income_receipts_url(params.merge(page: 1)) %>
    </li>
    <li style="margin-left:90px;">
      <%= link_to t('titles.receipt_templates'), receipt_templates_path %>
    </li>
  </ul>

  <%= render partial: 'forms/filter', params: params %>
<% end %>

<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th class="number hidden-phone">
        <%= link_to "# #{t('attributes.receipt.number')}", filter_receipts_url(params.merge(page: 1, sort: 'number')) %>
      </th>
      <th class="contact_name">
        <%= link_to t('attributes.receipt.contact_name'), filter_receipts_url(params.merge(page: 1, sort: 'contact_name')) %>
      </th>
      <th class="issue_date hidden-phone">
        <%= link_to t('attributes.receipt.issue_date'), filter_receipts_url(params.merge(page: 1, sort: 'issue_date')) %>
      </th>
      <th class="amount">
        <%= link_to t('attributes.receipt.amount'), filter_receipts_url(params.merge(page: 1, sort: 'amount')) %>
      </th>
    </tr>
  </thead>
  <tbody>
    <% @receipts.each do |receipt| %>
      <tr>
        <td class="number hidden-phone">
          <span><%= link_to receipt_path(number: receipt.number) do %><%= receipt.number %><% end %></span>
        </td>
        <td class="contact_name">
          <span><%= receipt.contact_name %></span>
        </td>
        <td class="issue_date hidden-phone">
          <span><%= l(receipt.issue_date) %></span>
        </td>
        <td class="amount">
          <span><%= formatted_amount(receipt.amount, receipt.account.currency_symbol) %></span>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if @receipts.size == 0 %>
  <div class="no-data">
    <%= t('invoice_bar.no_data') %>
  </div>
<% end %>

<%= paginate @receipts %>
