<!DOCTYPE html>
<html>
<head>
  <%= render partial: 'layouts/head' %>
</head>
<body style="padding:10px">
  <%= render partial: 'layouts/navbar' %>
  <div class="container">
    <div class="row">
      <ul class="nav nav-pills span4">
        <li class="<%= active_for_controller('/sessions') %>"><%= link_to 'Přihlášení', login_path %></li>
        <li  class="<%= active_for_controller('/users') %>"><%= link_to 'Registrace', signup_path %></li>
      </ul>
    </div>
  </div>
  <div class="container">
    <%= render partial: 'layouts/messages' %>
    <%= yield %>
  </div>
</body>
</html>
